<div class="login-form">
    <h2 class="section-hero">Password recovery</h2>

    <form [formGroup]="formPass" (ngSubmit)="passwordRecovery()">
        <div class="input-wrapper">
            <input type="text" name="mail" pInputText placeholder="Mail" formControlName="mail">
            <p class="controller-error" *ngIf="isControllValid('mail', 'required')">This field is required</p>
            <p class="controller-error" *ngIf="isControllValid('mail', 'minlength')">Your login need to be at least 6 symbols long</p>
        </div>

        <button type="submit">Reset password</button>
    </form>

    <p class="new-user">
        Want to login? 
        <span (click)="navigateTo('/login')">Login</span>
    </p>
</div>