<div class="login-form">
    <h2 class="section-hero">Set new password</h2>

    <form [formGroup]="formPass" (ngSubmit)="passwordRecovery()">
        <div class="input-wrapper">
            <input type="text" name="mail" pInputText placeholder="Password" formControlName="password">
            <p class="controller-error" *ngIf="isControllValid('password', 'required')">This field is required</p>
            <p class="controller-error" *ngIf="isControllValid('password', 'minlength')">Your login need to be at least 6 symbols long</p>
        </div>

        <button type="submit">Reset password</button>
        <p class="controller-error">{{isError ? 'Something went wrong!' : ''}}</p>
        <p class="controller-error">{{succes ? 'If session is still active and url was correct yours password should been changed!' : ''}}</p>
    </form>

    <p class="new-user">
        Want to login? 
        <span (click)="navigateTo('/login')">Login</span>
    </p>
</div>